extends ../template.pug

block content
    - var title = 'Test Project'
    - var postImageUrl = '../../img/latest.jpg'
    .page
        article.main
            header.title
                span Welcome!
            .body
                .el.note
                    p.body Honinworx is the portfolio project/s of a web developer/artist.
                        
                                
            .post.background(style=`background-image: URL("${postImageUrl}")`)
    .page
        header.title
            span Posts
        .body
            .el.list.grid
                .body
                    include ../cards/project
                    include ../cards/project
                    include ../cards/project
                footer
                    .body
                        a.el.loadmore(title='View More', href='./projects.html')
                            .body
                                i.fas.fa-eye


    .page
        - var postImageUrl = '../../img/latest.jpg'
        article.main
            header.title
                span About

            .body
                .el.note
                    header.title What is this?
                    .body 
                        .logo
                            img(src='../../img/logo.jpg' height='75px' width='75px' style='border-radius: 100%')
                        p HoninWorx is a website intended as hosting platform for my own little art gallery. 
                        p I needed something that both demonstrated what I have learned during my studies, 
                            <b> and </b> a platform to serve future endevors :3
                    header.title Who made this?
                    .body
                        p I go by the alias 'Honin'. As a stranger, strangeness is a goal.
                        p In the future I hope to sell art prints here
            .background.after(style=`background-image: URL("${postImageUrl}")`)