extends ../template.pug

block content
    - var title = 'Test Project'
    - var postImageUrl = '../../img/latest.jpg'
    .page
        article.main
            header.title
                span Welcome!
            .body
                .el.note
                    p.body Honinworx is the portfolio project/s of a web developer/artist.
                        
                                
            .post.background(style=`background-image: URL("${postImageUrl}")`)
    .page
        header.title
            span Recently updated
        .body
            .el.list.grid
                .body
                    include ../cards/project
                    include ../cards/project
                    include ../cards/project
                footer
                    .body
                        a.el.loadmore(title='View More', href='./projects.html')
                            .body
                                i.fas.fa-eye


    include ./about