extends ../template.pug

block content
    - var title = 'Test Project'
    - var tags = ['these', 'are', 'supposed', 'to', 'be', 'tags']
    - var note = 'Some text here describing the project, character limit is debateable but will see'
    - var postImageUrl = '../../img/latest.jpg'
    .page
        article.main
            .body
                header.title
                    span Welcome!
                .note
                    p.body this is Honinworx, portfolio project/s of a web developer/artist and soon to be more
                footer
                    .meta
                        .body
                            header.title
                                span Other Links
                                span.subtitle Platforms
            .post.background(style=`background-image: URL("${postImageUrl}")`)
    .page
        header.title
            span Recently updated
        include ../elements/project/project_card
        include ../elements/project/project_card
        include ../elements/project/project_card


