extends ../template.pug

block content
    - var edit = 0
    

    .page
        header.title
            span Projects
        .body
            .el.list
                .body
                    include ../cards/project
                    include ../cards/project
                    include ../cards/project
                footer
                    .body
                        .el.meta
                            span.counter(data-value='33', title='Projects: 33')
                                i.fas.fa-book
                        a.el.loadmore(title='View More', href='./projects.html')
                            .body
                                i.fas.fa-eye
    