extends ../template.pug

block content
    - var edit = 0

    .page
        article.main.project
            - var title = '__/projectName'
            - var tags = ['these', 'are', 'supposed', 'to', 'be', 'tags']
            - var note = 'Some text here describing the project, character limit is debateable but will see'
            - var postImageUrl = '../../img/latest.jpg'
            .body            
                header.title Project 
                        span.subtitle=title
                .el.note
                    header.title
                        span Note
                    p.body=note                
                        
                footer
                    .body
                        .el.link
                            span.body(title='Created: 10:40 AM 11/19/2020')
                                <i class="fas fa-calendar-day"></i>
                            span.body(title='Updated: 10:40 AM 11/19/2020')
                                i.fas.fa-clock
                            span.body(title='Posts: 33')
                                i.fas.fa-book
                            span.body(title='Age: 12d13h')
                                i.fas.fa-hourglass-start
                                
            .post.background(style=`background-image: URL("${postImageUrl}")`)
    .page
        header.title
            span Posts
        .body
            .el.list.grid
                .body
                    include ../cards/post
                    include ../cards/post
                    include ../cards/post
                footer
                    .body
                        a.el.loadmore(title='View More', href='#')
                            .body
                                i.fas.fa-arrow-down
        