extends ../template.pug

block content
    - var edit = 0


    .page
        header.title
            span Projects
        include ../elements/project/project_card
        include ../elements/project/project_card
        include ../elements/project/project_card
    