footer
    .body
        
        include ./social
    footer
        .body
            .el.credit
                span Developed by Honin
            .el.copywright
                span Copyright 2020