header.title.head
    a(href='/').logo
        img(src='/img/logo.jpg' height='45px' width='45px' style='border-radius: 100%')
        span HoninWorx
    .el.link
        if user
            span.uname=user.uname
            a(href='/user/logout') Logout
            span=user.role
            
        