header.title.head
    a(href='./index.html').logo
        img(src='../../img/logo.jpg' height='45px' width='45px' style='border-radius: 100%')
        span HoninWorx
    .el.link
        a.body(href='./home.html') 
            span Home
        a.body(href='./about.html') 
            span About