li.post
    .head
        .title=item.title
        .buttons
            .button.hover(data-title='View' data-href='/p/'+item._id)
                i.fa.fa-eye
            if currentUser && currentUser.role == 'admin'
                .button.hover(data-title='Edit' data-href='/p/'+item._id+'/e')
                    i.fa.fa-cog
                .button.hover(data-title='Delete' data-href='/p/'+item._id+'/d')
                    i.fa.fa-trash
    .backgrounds
        for m in item.media
            .background(style=`background-image: URL(${m.url})`)