*
    order: 1
.background
    background-color: black
    // position: fixed
    top: 0px
    bottom: 0px
    width: 100vw
    height: 100vw
    max-width: 100%
    max-height: 100%
    background-repeat: no-repeat
    background-size:  cover
    background-position: center
    background-origin: center
    z-index: -1
    position: absolute
    display: block
    flex: 1
    transition: background-size .5s
    &.after
        position: relative
        min-height: 50vw
        background-position: top right
        @media ( min-width: 900px )
            background-position: center bottom
            min-height: 100%
            position: absolute
    &.fixed
        position: fixed
// .card
//     .background:hover
//         filter: blur(5px)