extends ./card.pug

block vars
    - var articleHeading = 'Test Post'
    - var backgroundImage = '../../img/post.jpg'
    - var cardClass = ''

block body
    .el.note
        header.title Note
        p.body Some text here describing the project, character limit is debateable but will see
block footer
    .el.meta
        .body
            span.date(data-title='Updated')
                span.body 10:40 AM 11/19/2020
    .el.link
        a.body(href='./post.html')
            i.fas.fa-eye
            