*
    color: white
    font-family: monospace
input, select, option
    color: black


@import "../fontawesome/scss/fontawesome.scss"
@import "../fontawesome/scss/solid.scss"
@import "../fontawesome/scss/brands.scss"

@import template/buttons.sass
@import template/container.sass
@import template/menues.sass
@import template/media.sass
@import template/list.sass

html
    background-color: #101113
    
body
    margin: auto
    margin-bottom: 0px
    display: flex
    flex-direction: column
    height: 100vh
    max-height: 100vh

    &>.container
        flex: 1
        overflow-y: auto

#mainContainer
    margin: 0em
    display: flex
    flex-direction: row
    align-items: stretch


header, footer
    background-color: #181a21
    padding: .5em
    
header
    border-bottom: 2px solid grey
    font-size: 1.5em
footer
    border-top: 2px solid grey



@import article.sass