<!DOCTYPE html>
html(lang="en")
    head
        include template/head/css.pug
        include template/head/meta.pug
        
        block styles
    body
        header
            .buttons
                a.button.main(href='/')
                    img(src='/img/logo.jpg' height='45px' width='45px' style='border-radius: 100%')
                    span HoninWorx
                a.button(href='/about')
                    span About
                a.button(href='/contact')
                    span Contact
                if user
                    a.button.hover(href=`/u/${user._id}`)
                        span.minor=user.displayName

        .container#mainContainer
            block content
        footer
            ul.col
                .head 
                    .title Quick Links
                li(data-href='/') Home
                li(data-href='/about') About
                li(data-href='/contact') Contact

            .buttons
                if user
                    .button(data-href='/logout' data-title='Logout')
                        i.fa.fa-sign-out-alt
                else
                    .button(data-href='/login' data-title='Login')
                        i.fa.fa-sign-in-alt
        block scripts
        include template/foot/javascript.pug