<!DOCTYPE html>
html(lang="en")
    head
        include template/head/css.pug
        include template/head/meta.pug
        
        block styles
    body
        header
            .buttons
                a.button.main(href='/')
                    img(src='/img/logo.jpg' height='45px' width='45px' style='border-radius: 100%')
                    span HoninWorx
                a.button(href='/about')
                    span About
                a.button(href='/contact')
                    span Contact
                if currentUser
                    a.button.hover(href='/u/logout')
                        span Logout
                        span.minor=currentUser.uname

        .container#mainContainer
            block content
        footer
            p Page footer
        block scripts
        include template/foot/javascript.pug