article, header {
  box-shadow: 0px 0px 10px -5px black;
}

.page {
  min-width: 100%;
  background-color: #0a0a0c;
}
.page .background {
  background-color: blue;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  transition: filter 0.5s;
  filter: blur(0px);
}
.page .card .background:hover {
  filter: blur(5px);
}
.page article {
  z-index: 1;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  min-width: 400px;
  max-width: 700px;
  transition: min-width 0.2s;
  height: fit-content;
  position: relative;
  justify-content: flex-start;
  overflow: hidden;
}
.page article.close {
  min-width: 50px;
}
.page article.close .body {
  margin: 0em;
  padding: 0em;
  overflow: hidden;
}
.page article .body {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #020204db;
  transition: max-height 0.2s, margin 0.2s;
  max-height: fit-content;
  transition: height 0.2s;
  position: relative;
  max-width: 800px;
  flex: 1;
  padding: 1em;
  height: min-content;
}
.page article .body div {
  max-height: fit-content;
  position: relative;
  transition: height 0.2s;
}
.page article .body div header.title {
  margin: 0.2em 0em;
  font-size: 1em;
}
.page article .body div header.title span {
  margin-left: 0px;
}
.page article .body .note {
  font-family: "Lucida Console", Monaco, monospace;
}
.page article .body .media .body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.page article .body .media .body > .el {
  border: darkgrey 1px solid;
  width: 100%;
  margin: 0.2em;
  text-decoration: none;
}
.page article .body .media .body > .el .label {
  flex: 1;
  color: white;
  font-size: 1.2em;
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
}
.page article .body .media .body > .el .label .date {
  font-size: 0.7em;
  color: grey;
}
.page article .body .media .body .post {
  display: inline-flex;
  flex-wrap: nowrap;
}
.page article .body .media .body .post:hover {
  background-color: #1a1a1d;
}
.page article .body .media .body .post img {
  max-width: 100px;
  height: auto;
}
.page article article > footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page article article > footer .body {
  margin: 0px;
  padding: 10px;
  font-size: 0.8em;
}
.page article article > footer .body > * {
  margin: 0px;
  padding: 0px;
  border: none;
}
.page article article > footer header.title {
  font-size: 1em;
  color: grey;
}
.page article article > footer header .subtitle {
  text-decoration: none;
  color: darkgrey;
  display: block;
  margin-left: 1em;
}
.page article article > footer header .subtitle .date {
  font-family: "Lucida Console", Monaco, monospace;
}
.page article .taglist > .taglist {
  background-color: darkgrey;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0.2em;
  margin: 0.5em auto;
}
.page article .taglist .word {
  display: block;
  margin: 0.2em;
  background-color: black;
  color: white;
  font-weight: 800;
  padding: 0.1em;
}
.page article footer .taglist > .taglist {
  margin: 0.2em 1em;
}
.page article.card, .page article.main {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 100%;
  z-index: 1;
  padding: 5em 0em;
  margin: 5em 0em;
}
.page article.card:nth-of-type(2n + 1), .page article.main:nth-of-type(2n + 1) {
  flex-direction: row-reverse;
}
.page article.main {
  min-height: 80vh;
  flex-direction: row !important;
  margin-top: 1em;
}
.page article .background {
  position: absolute;
  display: block;
  flex: 1;
  background-position: center;
}
.page > .title {
  border-bottom: 3px solid grey;
}
.page footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page footer .body {
  margin: 0px;
  padding: 10px;
  font-size: 0.8em;
}
.page footer .body > * {
  margin: 0px;
  padding: 0px;
  border: none;
}
.page footer header.title {
  font-size: 1em;
  color: grey;
}
.page footer header .subtitle {
  text-decoration: none;
  color: darkgrey;
  display: block;
  margin-left: 1em;
}
.page footer .date {
  font-family: "Lucida Console", Monaco, monospace;
}

body.page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
body.page header {
  background-color: #141417;
  padding: 0.5em;
  margin-top: 0px;
  z-index: 1;
  color: lightgrey;
  width: available;
  width: -webkit-fill-available;
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
  font-size: 2em;
  box-shadow: inset black 0px 0px 5px 0px;
}
body.page header span {
  padding-left: 0.5em;
  font-size: 1em;
}
body.page header.head {
  min-height: 50px;
  position: sticky;
  top: 0px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
body.page header .subtitle {
  font-size: 0.9em;
  text-decoration: none;
  color: red;
  margin-left: 0.2em;
}
body.page header .logo {
  text-decoration: none;
  display: flex;
  color: inherit;
  flex-direction: row;
  max-width: min-content;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.3em;
}
body.page header .nav {
  padding: 0em 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #060610;
  font-size: 0.7em;
}
body.page header .nav .navbtn {
  display: block;
  padding: 0.2em 0.5em;
  margin: 0px 0.2em;
  transition: background-color 0.2s, color 0.2s;
  color: white;
  text-decoration: none;
}
body.page header .nav .navbtn:hover, body.page header .nav .navbtn.active {
  background-color: #726464;
  color: black;
}
body.page .page.head {
  width: 100%;
  z-index: 1;
}
body.page .page.head header .title {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 3em;
}

body.page > footer {
  border-top: 3px solid grey;
  background-color: #181a21;
  width: 100%;
  min-height: 300px;
  padding: 1em;
}
body.page > footer .body {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
body.page > footer .body .sitemap a {
  text-decoration: none;
  color: grey;
}
body.page > footer .body .sitemap .body {
  display: flex;
  flex-direction: column;
  margin: 0.2em 1em;
}
body.page > footer .body .sitemap .body a {
  margin: 0.2em 0em;
  display: block;
  border-bottom: 1px grey solid;
}
body.page > footer .body .sitemap .body a:hover {
  border-bottom: 1px lightgrey solid;
}

html {
  background-color: darkgrey;
}
html body {
  margin: 0px;
}

/*# sourceMappingURL=style.css.map */
