extends template.pug

block user_menue_title
    h1 Login

block user_menue_content
    .container
        label Username:
        input#username(type='username' name='username')
        label Password:
        input#password(type='password' name='password')
        .captcha
            label Captcha:
            img(src=captcha.url)
            input#captcha(type='text' name=captcha.name)
        input#submit(type='submit')

block scripts
    script(src="/javascripts/login.js")