.el.link
    display: flex
    flex-direction: row
    &>.body
        font-size: 1.2em
        text-decoration: none
        color: white
        display: flex
        position: relative
        &:hover
            color: rgba(125, 120, 120, 1)
        i
            margin: 0em 1em