html {
  background-color: #181a21; }

.container {
  display: flex;
  position: relative; }
  .container .buttons {
    margin: auto;
    margin-right: 0em;
    padding: .5em; }
    .container .buttons span {
      margin: .5em; }
  .container .search {
    margin-top: .5em;
    display: flex;
    justify-content: stretch; }
    .container .search .searchblock {
      background-color: #242424;
      display: block;
      flex: 100%;
      margin: 0em .1em;
      font-size: 1.5em;
      color: white;
      white-space: nowrap; }
      .container .search .searchblock:empty:after {
        content: "Search " attr(data-target);
        color: grey; }
  .container asside {
    min-width: 233px;
    color: white;
    border-right: 2px grey solid;
    overflow-y: auto; }
    .container asside:empty {
      display: none; }
    .container asside ul {
      margin: 0px;
      list-style: none;
      padding: 5px 0px; }
      .container asside ul li {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: .4em 0em;
        border-right: white 0px solid;
        transition: padding .2s, border-right .2s; }
        .container asside ul li > span {
          margin: 0em .4em; }
        .container asside ul li.mainPage {
          padding: .8em 0em; }
        .container asside ul li:hover {
          background: #393939; }
        .container asside ul li.active {
          border-right: white 3px solid;
          padding: 1em 0em; }
        .container asside ul li > * {
          pointer-events: none; }
        .container asside ul li::after {
          content: "";
          position: absolute;
          bottom: 0px;
          width: 100%;
          height: .05em;
          background-color: white; }
  .container article {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #4d1e1e;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    height: 73vh;
    margin-top: 0px;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-grow: 1;
    color: white; }
    .container article .container {
      border: 1px solid grey;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      flex-basis: 90%;
      flex-direction: column;
      margin: 0px auto;
      margin-top: 1em;
      max-width: 800px;
      flex: 100%; }
      .container article .container:after {
        content: "";
        display: block;
        min-width: 100%; }
      .container article .container .head {
        padding: .5em 0em;
        display: flex;
        justify-content: space-between;
        position: relative; }
        .container article .container .head::after {
          content: "";
          position: absolute;
          bottom: 0px;
          width: 100%;
          height: .05em;
          background-color: white; }
        .container article .container .head > span {
          margin: 0em .5em; }
        .container article .container .head .title {
          font-size: 1.5em; }
      .container article .container .body, .container article .container textarea {
        resize: none;
        padding: 1em;
        height: 100%; }
      .container article .container .body {
        display: block; }
      .container article .container#edit {
        display: none; }
        .container article .container#edit.open {
          display: flex; }
          .container article .container#edit.open + #display {
            display: none !important; }

#tools {
  flex: 0; }

#display {
  display: flex; }
  #display .row {
    width: 100%; }
  #display .row, #display .col {
    display: flex; }
  #display .col {
    flex-direction: column;
    justify-content: space-evenly; }
  #display p {
    margin: .2em;
    display: block; }
  #display img {
    max-width: 72%;
    height: auto;
    margin: auto;
    display: block; }
    #display img.left_3 {
      max-width: 33%;
      align-self: flex-start; }

/*# sourceMappingURL=style2.css.map */