.buttons
    display: flex
    align-items: stretch
    justify-content: flex-end
    position: relative

    .hover
        margin: 1em
        &:before
            display: none
            opacity: 0
            transition: opacity .2s
        &:hover::before
            display: block
            opacity: 1
    &>[data-title]:before
        position: absolute
        right: 100%
        content: attr(data-title)
        white-space: nowrap
        
    &>[data-href]
        cursor: pointer


    .button
        align-items: center
        justify-content: center
        display: flex
        text-decoration: none
        margin: .5em
        span
            padding: 1em
        
    .button.main
        justify-self: flex-start
        margin: auto
        margin-left: 1em