.lonely
    display: none !important
input[type='radio']:checked ~ .lonely
    display: flex !important
input[type='radio']
    display: none
input[type='radio'] + .select
    display: none
input[type='radio']:checked + .select
    display: flex

.minor
    font-size: .5em

.select
    justify-content: space-between
    width: -webkit-fill-available