- var title = 'Test Project'
- var tags = ['these', 'are', 'supposed', 'to', 'be', 'tags']

form(method="post")
    header.title
        span Project Edit/Create
    .body
        .field
            header.title
                span Project Title
            .input
                input(type="text", name='title', placeholder='Project Title')
        
        .field.note
            header.title
                span Project Note
            .input
                textarea(name="", cols="30", rows="10", placeholder='Project note max char: 255')

        .field.taglist
            header.title
                span Project Tags
            .input
                input(type='text', placeholder='New tag...')
            .taglist
                for tag, k in tags
                    .word(key=k value=tag)=tag
    footer
        .field.date
            span 10:40 AM 11/19/2020

        