article.project.card
    - var title = 'Test Project'
    - var tags = ['these', 'are', 'supposed', 'to', 'be', 'tags']
    - var note = 'Some text here describing the project, character limit is debateable but will see'
    - var postImageUrl = '../../img/post.jpg'
    .body            
        header.title Project 
            a(href='./project.html').subtitle __/projectName
        div.note
            header.title
                span Note
            p.body=note               
                
        footer
            .meta
                header.title
                    span Meta
                .body
                    span.subtitle Created: 
                        span.date 10:40 AM 11/19/2020
                    span.subtitle Updated: 
                        span.date 10:40 AM 11/19/2020
            .taglist
                header.title
                    span Project Tags
                .taglist
                    for tag, k in tags
                        .word(value=k)=tag
    .post.background(style=`background-image: URL("${postImageUrl}")`)
    