block vars
    - var elTitle = '__element__title__'
    - var elCalss = null

    - var elHeader = true

.el(class= elClass ? elClass : '' )
    if elHeader
        header.title=elTitle
    .body
        block body