footer
    .body
        .sitemap
            header.title
                span Sitemap
            .body
                a(href='./index.html') Honinworx
                a(href='./projects.html') Projects
                a(href='./about.html') About
        .contact
            header.title
                span Contact
            .body
                span email@address.com
                    