extends ./el

block vars
    - var elClass = 'social'
    - var elHeader = true
    - var elTitle = 'More places:'

block body
    a.icon.telegram(href='https://t.me/honinworx')
        i.fab.fa-telegram
    a.icon.youtube(href='https://www.youtube.com/channel/UCX_Lk-KDD3R1PHaLYzyQehw')
        i.fab.fa-youtube
    a.icon.twitter(href='https://twitter.com/DarkHonin' )
        i.fab.fa-twitter