article {
  z-index: 1;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  transition: min-width 0.2s;
  height: fit-content;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: wrap;
}
article > .body {
  background-color: #020204db;
  opacity: 1;
  overflow: hidden;
}
article.close > .body {
  opacity: 0;
}
article.close.main > .background {
  background-size: contain;
}
article.main {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 100%;
  z-index: 1;
  padding: 0em 0em;
  margin: 5em 0em;
  justify-content: space-between;
  min-height: 80vh;
  margin-top: 0em;
}
article.main > header.title {
  justify-content: space-between;
}
article.main > .background {
  background-size: cover;
}
@media (max-width: 800px) {
  article.main {
    min-height: 100vw;
  }
  article.main > .body {
    max-width: -webkit-fill-available;
    margin: 0px;
    padding: 0px;
  }
}
article .card {
  display: flex;
  width: auto;
  flex-direction: column;
  color: white;
  transition: max-height 0.2s, margin 0.2s;
  max-height: fit-content;
  transition: height 0.2s;
  position: relative;
  height: min-content;
  margin: 1em;
}
article .card > .body {
  margin: 5em;
  margin-left: 0px;
}
@media (max-width: 700px) {
  article .card > .body {
    margin: 1em 0em;
    margin-top: 20em;
  }
}
article .grid .card > .body {
  margin: 0px;
  margin-top: 5em;
}
article > .body {
  display: flex;
  width: auto;
  flex-direction: column;
  color: white;
  opacity: 1;
  transition: opacity 0.5s;
  max-height: fit-content;
  position: relative;
  max-width: 800px;
  padding: 1em;
  height: min-content;
  margin: 1em;
}

article.project > footer > .body {
  margin: 0px;
}

footer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #181a21;
  justify-content: flex-end;
  padding: 1em;
}
footer > .body {
  margin: auto;
  margin-right: 1em;
  padding: 10px;
  font-size: 0.8em;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  display: flex;
}
footer > header.title {
  font-size: 1em;
  color: grey;
}
footer > header .subtitle {
  text-decoration: none;
  color: darkgrey;
  display: block;
  margin-left: 1em;
}
footer > header .subtitle .date {
  font-family: "Lucida Console", Monaco, monospace;
}

article.card > .body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  transform-origin: bottom;
  transition: opacity 0.3s;
}
article.card > footer {
  color: white;
  flex-direction: column;
  padding: 0px;
}
article.card > footer > .body {
  margin: 0.2em;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card > footer {
  background-color: #383d4d;
}

.el.list.grid .card > .body {
  margin: 0px;
  margin-top: auto;
  margin-bottom: 0px;
  padding: 0px;
  opacity: 0;
  transition: opacity 0.2s;
  max-width: 100%;
}
.el.list.grid .card:hover > .body {
  opacity: 1;
}
.el.list .card {
  opacity: 1;
  min-height: 50vh;
  margin-bottom: 0px;
  margin-top: auto;
}
.el.list .card > .body {
  margin: 1em;
  max-width: 600px;
}
@media (max-width: 800px) {
  .el.list .card > .body {
    max-width: -webkit-fill-available;
    margin: auto;
    margin-bottom: 0px;
    opacity: 0;
  }
}
.el.list .card:hover > .body {
  opacity: 1;
}

/*# sourceMappingURL=article.css.map */
