<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include common/css.pug
        include common/meta.pug
        title HoninWorx
        
    body.page
        include ./el/header.pug
        block content
        include ./el/footer.pug