<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include common/css.pug
        title HoninWorx
    body.page
        block pageHead
            include elements/header/header.pug
        block content

        include elements/footer.pug