<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="../../img/logo.jpg", type="image/x-icon")
        include common/css.pug
        
        block meta
            include common/meta.pug
        
        block styles
    body.page
        include ./el/header.pug
        block content
        include ./el/footer.pug
        block scripts
        include common/javascript.pug