extends ../template.pug

block styles
    link(rel="stylesheet", href="/stylesheets/style2.css")

block content
    .container
        article
            .container
                span.head
                    span.title HoninWorx
                .body
                    h1 Under contruction
                    p Hello and welcome...
                    p This webpage is still under construction and should be visible to the public once its developers feel it is ready.
                    p Check back sometime to see what has changed

block scripts
    script(src="/javascripts/common.js")