extends ../template.pug

block styles
    link(rel="stylesheet", href="/stylesheets/style2.css")
block content
    div.container
        article
            .container#display
                span.head
                    span.title=focus.title
                    div.buttons
                        span(title=`Age: `)
                            i.fas.fa-hourglass-start
                div.body!=focus.markdown()
                        
block scripts
    script(src="/javascripts/common.js")
    script(src="/javascripts/search.js")
    script(src="/javascripts/list.js")