extends ../template.pug

block content
    article
        .container#message
            span.head
                img(src='/img/logo.jpg' height='125px' width='125px' style='border-radius: 100%')
                span.title Welcome
            .body
                p This webpage is still under construction