extends ../template.pug

block content
    article
        .container#document
            .head
                span=document.title
            p.body It may not be clear but this website is still under construction