extends ../template.pug

block content
    article
        .container#message
            .head
                img(src='/img/logo.jpg' height='125px' width='125px' style='border-radius: 100%')
                span Hello! Welcome...
            p.body It may not be clear but this website is still under construction